@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  max-width: 1600px;
  margin: 0 auto;
}
html {
  scroll-padding-top: 58px; /* height of sticky header */
}

.simple-nav .text-logo {
  display: none;
}
.simple-nav a {
  color: #fff;
  border-color: #fff;
}
.simple-nav a:hover {
  color: white;
  border-color: white;
}
footer {
  background-color: #50516b;
  color: #fff;
}
footer .overlay {
  background-color: #404171;
}
footer .colory-logo {
  display: none;
}

details summary::-webkit-details-marker {
  display: none;
}
::marker {
  display: none;
}
summary {
  list-style: none;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  opacity: 0.4;
  margin-left: 10px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.plus {
  background-image: url(/images/icon/plus.svg);
  margin: 0;
  transition: 0.2s;
}
.is-active .expand.plus {
  background-image: url(/images/icon/minus.svg);
}
.TabButtons-listItem[aria-selected="true"] {
  @apply bg-[#b0b4be];
}

.TabButtons-listItem[aria-selected="true"] a {
  border-bottom: 1px solid #414f6b;
  color: #414f6b;
}
.text-shadow {
  text-shadow: 1px 0 #414f6b;
  color: #414f6b;
}
