@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  max-width: 1600px;
  margin: 0 auto;
}

.simple-nav .text-logo {
  display: none;
}
.simple-nav a {
  color: #fff;
  border-color: #fff;
}
.simple-nav a:hover {
  color: white;
  border-color: white;
}
footer {
  background-color: #50516b;
  color: #fff;
}
footer .overlay {
  background-color: #404171;
}
footer .colory-logo {
  display: none;
}

.xxx {
}
